@import url(./assets/fonts/inter.css);

:root {
  --dark-blue: #2a3647;
  --light-blue: #29abe2;
  --item-light-blue: #2f4057;
  --item-dark-blue: #091931;
  --light-grey: #d1d1d1;
  --grey: #a8a8a8;
  --dark-grey: #42526e;
  --white: #ffffff;
  --silk: #f6f7f8;
  --orange: #ff3d00;
  --box-shadow: 0px 6px 7px -3px #949494;
  --navbar-width: 232px;
  --desktop-max-width: 1920px;
  --app-max-width: calc(var(--desktop-max-width) - var(--navbar-width));
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

input,
textarea {
  font-family: "Inter", sans-serif;
}

textarea {
  resize: none;
}

.mrg-top-6 {
  margin-top: 6px;
}

.mrg-top-12 {
  margin-top: 12px;
}

.mrg-top-26 {
  margin-top: 26px;
}

.mrg-top-32 {
  margin-top: 32px;
}

.width-100 {
  width: 100%;
}

.application-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.application-main-content {
  width: calc(100% - var(--navbar-width));
}

.popup-message {
  display: none;
  position: fixed;
  top: 80px;
  right: 20px;
  background-color: var(--dark-blue);
  color: var(--grey);
  padding: 15px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: var(--box-shadow);
}

.popup-message.show {
  display: block;
}

.application-content {
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 860px) {
  .application-main-content {
    height: calc(100% - 100px);
  }
}
@media (max-width: 560px) {
  .application-main-content {
    height: calc(100% - 80px);
  }
}
@media (max-width: 380px) {
  .application-main-content {
    height: calc(100% - 72px);
  }
}
