:root {
  --filter-blue: brightness(0) saturate(100%) invert(53%) sepia(98%)
    saturate(891%) hue-rotate(165deg) brightness(95%) contrast(86%);
  --sb-track-color: #f6f7f8;
  --sb-thumb-color: #2a3647;
  --sb-size: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-1 {
  flex: 1;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.mt-16 {
  margin-top: 16px;
}

.header-board {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 560px) {
  .header-board {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.overflow {
  overflow: hidden;
}

.content-top {
  max-width: var(--app-max-width);
  padding-top: 60px;
}

.content-top-menue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.content-top-menue-right {
  height: 48px;
  display: flex;
  gap: 32px;
}

.input-search {
  width: 312px;
  background: url(../assets/icons/search.svg) no-repeat;
  background-position: 97%;
}

.button-add {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
}

.button-add-mobile {
  display: none;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  height: 48px;
}

.button-add-img {
  height: 18px;
  width: 18px;
}

.layout-rows {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.content-data {
  max-width: var(--app-max-width);
  padding: 16px 64px;
}

.content-data-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.data-row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-grey);
  font-weight: 700;
  width: 100%;
  padding-right: 16px;
}

.data-row-title img:hover {
  filter: var(--filter-blue);
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data-row-title img {
  height: 24px;
  cursor: pointer;
}

.plus-button {
  height: 24px;
  width: 24px;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-button:hover {
  border: 2px solid var(--light-blue);
  color: black;
}

.plus-button p {
  padding: 0;
  margin: 0;
}

.cardNoTask {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  background-color: #e7e7e7;
  height: 48px;
  color: #a8a8a8;
  margin: 10px;
}

.cardTask {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px #00000014;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.card-menue-box {
  display: none;
}

.card-menue-box img {
  height: 12px;
  cursor: pointer;
}

.card-menue {
  display: none;
}

.card-menue p {
  margin: 0;
  color: var(--grey);
  padding: 4px;
  border-radius: 8px;
}

.card-menue p:not(.card-menue-title):hover {
  background-color: var(--item-light-blue);
}

.card-menue-title {
  color: white !important;
}

.card-menue-box:hover .card-menue {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  padding-top: 15px;
  border-radius: 16px 0 16px 16px;
  animation: fadeIn 125ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-category {
  padding: 4px 16px;
  border-radius: 8px;
  color: white;
}

.category-UserStory {
  background-color: #0038ff;
}

.category-Technicaltask {
  background-color: #1fd7c1;
}

.card-title {
  font-weight: 700;
}

.card-description {
  color: #a8a8a8;
  font-weight: 400;
  padding-top: 8px;
}

.card-subtasks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progressContainer {
  width: 100%;
  background-color: #cccccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.progressBar {
  height: 8px;
  background-color: #4589ff;
}

.card-subtasks-text {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}

.card-subtasks:hover .card-subtasks-text {
  display: block;
  font-size: 12px;
  text-wrap: nowrap;
  margin-left: 10px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-footer-assign {
  display: flex;
}

.assign-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.card-footer-assign > .assign-name:not(:first-child) {
  margin-left: -6px;
}

.card-footer-prio {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer-prio img {
  width: 50%;
}

.on-dragging {
  transform: rotate(5deg);
}

.drag-area {
  display: none;
  border-radius: 10px;
}

.drag-area-active {
  display: block;
  padding-top: 160px;
  border: 2px dashed lightgray;
}

.drag-area-active-highlight {
  background-color: rgba(0, 0, 0, 0.05);
}

.overflow-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

@supports not selector(::-webkit-scrollbar) {
  dialog,
  .overflow-auto {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@media (max-width: 1120px) {
  .mx-64 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .content-data {
    padding: 16px 24px;
  }
}

@media (max-width: 990px) {
  .content-data {
    display: flex;
    flex-wrap: wrap;
  }

  .content-data-mobile-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .overflow-moblie {
    overflow: auto;
  }

  .cardTask,
  .cardNoTask,
  .drag-area-active {
    max-width: 200px;
    min-width: 200px;
  }

  .cardTask {
    height: 300px;
  }

  .card-menue-box {
    display: inline;
  }

  .application-main-content {
    margin-bottom: 16px;
  }

  .content-top {
    padding-top: 40px;
  }

  .content-top-menue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .content-top-menue-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .content-top-menue-right {
    width: 100%;
  }

  .input-search {
    width: 100%;
  }

  .button-add {
    display: none;
  }

  .button-add-mobile {
    display: flex;
  }
}

@media (max-width: 860px) {
  .application-main-content {
    margin-bottom: 116px;
  }
}

@media (max-width: 560px) {
  .application-main-content {
    margin-bottom: 96px;
  }
}
