#contactDialog {
  border-radius: 30px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 4px 0px #00000029;
  padding: 0;
  overflow: hidden;
  height: 500px;
}

#contactDialog:focus-visible {
  outline: none;
}

dialog[open] {
  animation: show 0.3s ease-out normal;
}

@keyframes show {
  from {
    transform: translateX(600%);
  }
  to {
    transform: translateX(0%);
  }
}

dialog.hide {
  animation: hide 0.3s ease-in normal;
}

@keyframes hide {
  to {
    transform: translateX(600%);
  }
}

.dialog {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 100%;
  overflow: auto;
}

.contact-add-form-area {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: white;
  background-color: var(--dark-blue);
}

.contact-add-form-area h1 {
  margin-bottom: 10px;
}

.contact-add-form-area p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.form-content-add-contact {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.img-logo-add-contact {
  display: flex;
  align-items: flex-start;
  width: 55px;
  height: 66px;
  margin-bottom: 16px;
}

.close-btn {
  position: absolute;
  top: 45px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-initials,
.img-add-contact {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin: 0px 48px;
}

.edit-initials {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: 400;
  border: 2px solid white;
}

.btn-add-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.blue-underline {
  width: 18%;
  height: 3px;
  background-color: var(--light-blue);
}

.img-btn {
  margin-left: 8px;
}

@media (max-width: 1030px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 950px) {
  #contactDialog {
    height: 80%;
  }

  .dialog {
    flex-direction: column;
  }

  .contact-add-form-area {
    height: 250px;
    min-height: 150px;
  }

  .img-logo-add-contact {
    display: none;
  }

  .form-content-add-contact {
    flex-direction: column;
    padding-left: 24px;
    margin-top: -50px;
  }

  .close-btn {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(192deg) brightness(103%) contrast(104%);
  }

  .edit-initials,
  .img-add-contact {
    margin: 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 470px) {
  .btn-add-contact {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .button-blue {
    justify-content: center;
  }
}
