.application-main {
  overflow: hidden;
}

#application-content {
  max-width: var(--app-max-width);
}

.legal-notice-content {
  height: calc(100vh - 96px);
  overflow-y: scroll;
  padding-top: 72px;
  padding-left: 64px;
  padding-right: 64px;
  width: 100%;
}

.legal-notice-headline {
  margin: 0;
  font-size: 61px;
  font-weight: 700;
}

.legal-subheadline {
  font-size: 27px;
  font-weight: 700;
}

.wrapHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.arrowBack {
  width: 48px;
  height: 48px;
  background-image: url("../assets/icons/arrow-left-line.svg");
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}

.arrowBack:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .legal-notice-content {
    margin-left: 0px !important;
  }
}

@media (max-width: 580px) {
  .wrapHead {
    margin-bottom: 32px;
  }
  .legal-notice-headline {
    font-size: 42px;
  }

  .legal-notice-content { 
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin-bottom: 100px;
  }
}
