.index-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7f8;
    box-shadow: inset 16px #f6f7f8;
    border-radius: 16px;
    z-index: 5;
    opacity: 1;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation: fadeOut 1.5s forwards;
}

.logo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 1;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation: fadeOut 2s forwards, moveToCornerAndShrink 2s forwards;
}

.logo-overlay-img {
    height: 350px;
    width: 250px;
    background-image: url(../assets/icons/logo-blue-welcome.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.z-index-1 {
    z-index: -1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveToCornerAndShrink {
    0% {}

    100% {
        transform: translate(-50%, -50%) scale(0.35);
        top: 140px;
        left: 120px;
    }
}



@media (max-width: 860px) {
 
    .index-overlay-mobile {
        background-color: var(--dark-blue);
        animation-delay: 500ms;
        animation-timing-function: ease-in-out;
        animation: fadeOut 1.5s forwards;
    }

    .logo-overlay-mobile {
        animation-delay: 500ms;
        animation-timing-function: ease-in-out;
        animation: fadeOut 2s forwards, moveToCornerAndShrink 2s forwards;
    }

    .logo-overlay-img {
        height: 250px;
        width: 150px;
        background-image: url(../assets/icons/logo-white-welcome.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    @keyframes moveToCornerAndShrink {
        0% {}
    
        100% {
            transform: translate(-50%, -50%) scale(0.35);
            top: 80px;
            left: 60px;
        }
    }

}

@media (max-width: 860px) {
    @keyframes moveToCornerAndShrink {
        0% {}
    
        100% {
            transform: translate(-50%, -50%) scale(0.35);
            top: 60px;
            left: 40px;
        }
    }
}